# Folders
Database
Data

# Image files
**/*.pdf
**/*.png
**/*.plist

# CSV, but not the config file and results files
**/*.csv
!Code/config.csv
!Results/**/*.csv

# Text and log files
**/log
**/*.txt

# Compiled code
**/*.pyc

# LaTex compilation files
**/*.aux
**/*.bst
**/*.doc
**/*.log
