# Folders
**/.DS_Store
Database
Data
Results
TRASH
Source/Needlepote
Source/test.py
Articles/ICCC/Corrections/
Articles/ICCC/Corrections2/

# Image files
**/*.pdf
**/*.png
**/*.plist

# But not in the Figure directory
!Articles/Figures/**/*.pdf
Articles/Figures/DRAFT_SOURCE

# CSV, but not the config file and results files
**/*.csv
**/*.html
**/DEBUG/**

# Text and log files
**/log
**/*.p
**/*.pkl
**/*.txt

# Compiled code
**/*.pyc

# LaTex compilation files
**/*.aux
**/*.bst
**/*.doc
**/*.log
**/*.bbl
**/*.out
**/*.blg
**/*.bak
**/*.synctex.gz
ICCC/ICCC-author-kit/
ICCC/Corrections*
