# Folders
Database
Data
TRASH

# Image files
**/*.pdf
**/*.png
**/*.plist

# CSV, but not the config file and results files
**/*.csv
**/DEBUG/**

# Text and log files
**/log
**/*.txt

# Compiled code
**/*.pyc

# LaTex compilation files
**/*.aux
**/*.bst
**/*.doc
**/*.log
**/*.synctex.gz
ICCC/ICCC-author-kit/
ICCC/Corrections*
